@keyframes move {

    0%{
        top: 0%;
        left: 0%;
    }
    25%{
        top:0%;
        left: 100%;
    }
    50%{
        top:100%;
        left: 100%;
    }
    75%{
        top: 100%;
        left: 0%;
    }
    100%{
        top: 0%;
        left: 0%;
    }
}
body{
    overflow: hidden;
}
#parent{
 height: 100vh;
 width: 100vw;
 overflow: hidden;

}
#child {
    height: 50px;
    background-color: black;
    width: 50px;
    border-radius: 50%;
    position: relative;
    animation: move 5s infinite;
}
